<div class="context-button__content attachment-menu__item">
    {{{input}}}
    <img class="context-button__icon" src="{{icon}}" alt="{{text}}" />
    <label class="context-button__text" for="{{name}}">{{text}}</label>
</div>
